@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.ttf') format("truetype");
  font-display: swap;
}

 /* fonts */
 @import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

 .nexon {
     font-family: 'NexonLv1Gothic';
     font-weight: 400;
 }

 /* reset */
 * {
     margin: 0;
     padding: 0;
 }
 a {
     text-decoration: none;
     color: #000;
 }
 h1,h2,h3,h4,h5,h6 {
     font-weight: normal;
 }

 /* common */
 .container {
     width: 1160px;
     padding: 0 20px;
     margin: 0 auto;
 }
 .section {
     padding: 120px 0;
 }
 .section h2 {
     font-size: 50px;
     text-align: center;
     margin-bottom: 70px;
 }
 .section span {
     display: block;
     text-align: center;
     font-size: 16px;
     text-decoration: underline;
     margin-bottom: 14px;
 }
 .blind {
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}


